In [1]:
import numpy as np
import pandas as pd

In [2]:
# generate 1000 samples from a normal distributions
heights = np.random.normal(loc=170, scale=10, size=1000)
weights = np.random.normal(loc=70, scale=15, size=1000)

# Create a new correlation between height and weight. 
weights += (heights - 170) * 0.5
df = pd.DataFrame({'Height': heights, 'Weight': weights})

# add categorial data :
genders = np.random.choice(['Male', 'Female'], size=1000)
df['Gender'] = genders
df.head()
df.describe()

            Height       Weight
count  1000.000000  1000.000000
mean    170.098026    70.169678
std      10.218193    16.018454
min     138.498354    19.000044
25%     163.655024    59.274098
50%     170.092488    70.155016
75%     176.912985    81.350881
max     198.238565   118.610476